//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// Colors
$color-white-1: #FFF;
$color-white-2: #d0d1d2;
$color-black-1: #000;
$color-black-2: #393c41;

//Functions
@mixin text-1($size,$color){
    font: 400 $size "Roboto",sans-serif;
    color: $color;
    letter-spacing: 2px;
}

@mixin text-2($size,$color){
    font: 500 $size "Roboto",sans-serif;
    color: $color;
    letter-spacing: 2px;
}


//Sass
@import 'general';
@import 'menu';
@import 'destaque';
@import 'content';
@import 'footer';